
/*Reseteo css*/
*{
    margin: 0;
    padding: 0;
}

/*Fuente de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

body {

    background-color: $colorNegro;
    font-family: 'Roboto Flex', sans-serif;
}

#encabezado {
    text-align: center;
    color: #F75C03;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#encabezadoContacto {
    text-align: center;
    color: #F75C03;
    margin: 30px;
    
}

.disclaimer {
    display: none;
}

.botonComprar {
    border: 1px solid #FFC800;
    /*anchura, estilo y color borde*/
    padding: 5px;
    /*espacio alrededor texto*/
    background-color: #FFC800;
    /*color botón*/
    color: #ffffff;
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;
}

.mensajeBinvenida{
    color: #F75C03;
    margin-top: 20px;
    
}
#modificadorBoton2 {

    border: 1px solid #FFC800;
    /*anchura, estilo y color borde*/
    padding: 3px;
    /*espacio alrededor texto*/
    background-color: #FFC800;
    /*color botón*/
    color: #ffffff;
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;

}

