/*Ordenando texto y mapa con flexbox*/
.flex {

    display: flex;
    flex-direction: row;
            
}

.flexTexto {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $espaciado;
    color: white;
}

.mapa {

    padding: $espaciado;
}




